# Cleaning a PostgreSQL Database
![Clean PostgreSQL Database](Project_Image.jpeg)

In this project, we will work with data from a hypothetical Super Store to challenge and enhance your SQL skills in data cleaning. This project will engage us in identifying top categories based on the highest profit margins and detecting missing values, utilizing your comprehensive knowledge of SQL concepts.

## Data Dictionary:

### `orders`:
| Column | Definition | Data type | Comments |
|--------|------------|-----------|----------|
| `row_id`| Unique Record ID | `INTEGER` |
| `order_id` | Identifier for each order in table | `TEXT` | Connects to `order_id` in `returned_orders` table |
| `order_date` | Date when order was placed | `TEXT` |
| `market` | Market order_id belongs to | `TEXT` |
| `region` | Region Customer belongs to | `TEXT` | Connects to `region` in `people` table |
| `product_id` | Identifier of Product bought | `TEXT` | Connects to `product_id` in `products` table |
| `sales` | Total Sales Amount for the Line Item | `DOUBLE PRECISION` |
| `quantity` | Total Quantity for the Line Item | `DOUBLE PRECISION` |
| `discount` | Discount applied for the Line Item | `DOUBLE PRECISION` |
| `profit` | Total Profit earned on the Line Item | `DOUBLE PRECISION` |

### `returned_orders`:
| Column | Definition | Data type |
|--------|------------|-----------|
| `returned`| Yes values for Order / Line Item Returned | `TEXT` |
| `order_id` | Identifier for each order in table | `TEXT` |
| `market` | Market order_id belongs to | `TEXT` |

### `people`:
| Column | Definition | Data type |
|--------|------------|-----------|
| `person`| Name of Salesperson credited with Order | `TEXT` |
| `region` | Region Salesperson in operating in | `TEXT` |

### `products`:
| Column | Definition | Data type |
|--------|------------|-----------|
| `product_id`| Unique Identifier for the Product | `TEXT` |
| `category` | Category Product belongs to | `TEXT` |
| `sub_category` | Sub Category Product belongs to | `TEXT` |
| `product_name` | Detailed Name of the Product | `TEXT` |

In [24]:
-- top_five_products_each_category 
With r AS (Select category, product_name , Round(Sum(o.profit)::numeric, 2) AS total_profit,ROUND(Sum(o.sales)::numeric , 2) AS total_sales ,  RANK() OVER(PARTITION BY p.category ORDER BY SUM(o.sales) DESC) AS product_rank
From products AS p
Left Join orders AS o
ON p.product_id = o.product_id		   
Group BY category, product_name)

Select * 
From r
Where product_rank < 6

           category  ... product_rank
0         Furniture  ...            1
1         Furniture  ...            2
2         Furniture  ...            3
3         Furniture  ...            4
4         Furniture  ...            5
5   Office Supplies  ...            1
6   Office Supplies  ...            2
7   Office Supplies  ...            3
8   Office Supplies  ...            4
9   Office Supplies  ...            5
10       Technology  ...            1
11       Technology  ...            2
12       Technology  ...            3
13       Technology  ...            4
14       Technology  ...            5

[15 rows x 5 columns]

In [25]:
-- salesperson_market_sales_details
SELECT ppl.person,
	ord.market,
	CASE WHEN ord.sales >= 0 AND ord.sales < 100	THEN '0-100'
		WHEN ord.sales >= 100 AND ord.sales < 500 THEN '100-500'
		WHEN ord.sales >= 500 THEN '500+'
		END AS sales_bin,
		COUNT(DISTINCT ord.order_id) AS order_counts,
		SUM(CASE WHEN ret.returned IS NULL THEN 0 ELSE 1 END) AS orders_returned,
		SUM(ord.sales) AS total_sales,
		SUM(CASE WHEN ret.returned IS NULL THEN 0 ELSE ord.sales END) AS returned_sales
FROM orders as ord
INNER JOIN people AS ppl
	ON ord.region = ppl.region
LEFT JOIN returned_orders AS ret
	ON ord.order_id = ret.order_id AND ord.market = ret.market
GROUP BY sales_bin, ord.market, ppl.person
ORDER BY ppl.person, ord.market, sales_bin;

                  person  market  ...   total_sales  returned_sales
0   Alejandro Ballentine    APAC  ...  6.654857e+04      3440.56500
1   Alejandro Ballentine    APAC  ...  2.636462e+05     15190.23870
2   Alejandro Ballentine    APAC  ...  5.542284e+05     25047.59400
3          Anna Andreadi      EU  ...  1.239398e+05      7951.05900
4          Anna Andreadi      EU  ...  5.299971e+05     37894.53000
5          Anna Andreadi      EU  ...  1.066616e+06     61685.20950
6          Anna Andreadi   LATAM  ...  7.041208e+04      2964.17896
7          Anna Andreadi   LATAM  ...  2.179294e+05     10151.38944
8          Anna Andreadi   LATAM  ...  3.121686e+05      9244.36624
9          Anna Andreadi      US  ...  4.254738e+04         0.00000
10         Anna Andreadi      US  ...  1.413935e+05         0.00000
11         Anna Andreadi      US  ...  3.172990e+05         0.00000
12        Anthony Jacobs    APAC  ...  7.287255e+04      2830.55400
13        Anthony Jacobs    APAC  ...  3.050795e+05     13564.81800
14        Anthony Jacobs    APAC  ...  7.222325e+05     28212.26400
15           Chuck Magee      EU  ...  4.479625e+04      2206.43400
16           Chuck Magee      EU  ...  1.891394e+05     14640.56400
17           Chuck Magee      EU  ...  3.580258e+05     39198.46800
18           Chuck Magee   LATAM  ...  6.972568e+04      3645.77600
19           Chuck Magee   LATAM  ...  2.323544e+05     11001.37540
20           Chuck Magee   LATAM  ...  3.151436e+05     11766.71120
21           Chuck Magee      US  ...  3.166539e+04         0.00000
22           Chuck Magee      US  ...  9.741274e+04         0.00000
23           Chuck Magee      US  ...  2.626438e+05         0.00000
24     Deborah Brumfield  Africa  ...  1.026136e+05         0.00000
25     Deborah Brumfield  Africa  ...  2.764072e+05         0.00000
26     Deborah Brumfield  Africa  ...  4.047523e+05         0.00000
27      Giulietta Dortch   LATAM  ...  3.880114e+04      1333.26400
28      Giulietta Dortch   LATAM  ...  1.305576e+05      3013.20016
29      Giulietta Dortch   LATAM  ...  1.549221e+05     11215.79348
30           Jack Lebron      EU  ...  4.797304e+04      2878.95300
31           Jack Lebron      EU  ...  1.752316e+05      8833.54500
32           Jack Lebron      EU  ...  4.023703e+05     29630.74800
33           Jack Lebron   LATAM  ...  6.290060e+04     11074.71200
34           Jack Lebron   LATAM  ...  1.926316e+05     36321.54680
35           Jack Lebron   LATAM  ...  3.670584e+05     55350.92760
36        Kelly Williams      US  ...  5.699194e+04         0.00000
37        Kelly Williams      US  ...  1.763955e+05         0.00000
38        Kelly Williams      US  ...  4.453938e+05         0.00000
39          Larry Hughes    EMEA  ...  1.102488e+05         0.00000
40          Larry Hughes    EMEA  ...  3.002397e+05         0.00000
41          Larry Hughes    EMEA  ...  3.956728e+05         0.00000
42        Matt Collister      US  ...  6.433455e+04         0.00000
43        Matt Collister      US  ...  2.114757e+05         0.00000
44        Matt Collister      US  ...  4.496476e+05         0.00000
45         Nicole Hansen  Canada  ...  7.876950e+03         0.00000
46         Nicole Hansen  Canada  ...  2.647695e+04         0.00000
47         Nicole Hansen  Canada  ...  3.257427e+04         0.00000
48            Nora Preis    APAC  ...  4.126034e+04      1475.28000
49            Nora Preis    APAC  ...  1.782633e+05      6043.41300
50            Nora Preis    APAC  ...  5.333029e+05     16165.44000
51       Shirley Daniels    APAC  ...  4.673746e+04      7915.27200
52       Shirley Daniels    APAC  ...  2.153851e+05     42506.41200
53       Shirley Daniels    APAC  ...  5.861872e+05    103145.25900

[54 rows x 7 columns]

In [26]:
-- impute_missing_values
WITH missing AS (
	SELECT product_id,
		discount, 
		market,
		region,
		sales,
		quantity
	FROM orders 
	WHERE quantity IS NULL
), 

unit_prices AS (SELECT o.product_id,
	CAST(o.sales / o.quantity AS NUMERIC) AS unit_price
FROM orders o
RIGHT JOIN missing AS m 
	ON o.product_id = m.product_id
	AND o.discount = m.discount
WHERE o.quantity IS NOT NULL
)

SELECT DISTINCT m.*,
	ROUND(CAST(m.sales AS NUMERIC) / up.unit_price,0) AS calculated_quantity
FROM missing AS m
INNER JOIN unit_prices AS up
	ON m.product_id = up.product_id;

         product_id  discount  market  ...    sales  quantity  calculated_quantity
0  FUR-ADV-10000571      0.00    EMEA  ...  438.960       NaN                    4
1  FUR-ADV-10004395      0.00    EMEA  ...   84.120       NaN                    2
2   FUR-BO-10001337      0.15      US  ...  308.499       NaN                    3
3  TEC-STA-10003330      0.00  Africa  ...  506.640       NaN                    2
4  TEC-STA-10004542      0.00  Africa  ...  160.320       NaN                    4

[5 rows x 7 columns]